<div class="gallery-contents a-js-contents">
  <a href="#" class="toggle-details show">[+] Details</a>
  <div class="gallery-body">
    <a href="#" class="toggle-details hide">[-]</a>
    <div class="a-js-details">
      <h2>Artist: ' + a.name + '</h2>
      <p>' + a.bio + '</p>
      <span id="assets"></span>
    </div>
  </div>

  <div class="gallery-images">
    <img src="/system/datas/'+ a.assets[0].id +'/gallery/'+ a.assets[0].data_file_name +'" />
  </div>
</div>
