
<div class="gallery-contents s-js-contents">

  <div class="gallery-body">

    <div class="s-js-details">
      <h2>' + s.name + '</h2>
      <p>
        ' + s.desc + '
      </p>
    </div>

  </div>

  <div class="gallery-images">
    <img src="' + assetUrl + s.assets[0].id +'/gallery/'+ s.assets[0].data_file_name +'" />
  </div>
  
</div>
