<div class="gallery-contents s-js-contents">
  <div class="gallery-body">
    <div class="s-js-details">
      <h2>' + s.name + '</h2>
      <p>' + s.desc + '</p>
      <span id="assets"></span>
    </div>
  </div>

  <div class="gallery-images">
    <img src="/system/datas/' + s.assets[0].id +'/gallery/'+ s.assets[0].data_file_name +'" />
  </div>
</div>
