
/*
  singleton shops top view.
  ------------------------------------------------------------ */ 
.shop-show {
  overflow:hidden;
  margin-bottom:10px;
}
.shop-each {
  float:left; width:45%;
  padding:10px; margin-bottom:10px;
  border:1px solid #ccc;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.shop-map {
  float:right; width:45%; height:220px;
  background:#eee; border:1px solid #ccc;
  overflow:hidden;
}


/* main tab navigation 
  ------------------------------------------------------------ */
ul.main-tabs {
  list-style:none;
  padding-bottom:10px;
}
ul.main-tabs li{ display:inline;}
ul.main-tabs li a{
  position:relative;
  top:5px;
  padding:10px 17px;
  margin-right:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  background:#eee;
  border:1px solid #ddd;
  border-bottom:0;
  color: #666666;
  font-size:13px;
  text-decoration: none;
  font-weight:bold;
}
ul.main-tabs li a:hover,
ul.main-tabs li a.active{
  padding:11px 17px;
  background:#333;
  border:0;
  color:#fff; /* pink ff7676 */
  text-decoration:none;
  /* CSS 3 DROP SHADOW */
  -moz-box-shadow: 1px -1px 4px #eee;
  -webkit-box-shadow: 2px -2px 4px #eee;
  box-shadow: 1px -1px 4px #eee;
}
/* main tab content divs
  ------------------------------------------------------------ */
.tab-content {
  margin-bottom:10px;
  overflow:hidden;
  min-height:300px;
}
/* 
  artists list 
  ------------------------------------------------------------ */
ul.artists-list {
}
ul.artists-list li {
  display:inline;
  margin-right:10px;
}
ul.artists-list li a {
  padding:4px 8px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background:#ccc;
  text-decoration:none;
  color:#333;
}
ul.artists-list li a:hover,
ul.artists-list li a.active {
  background:#111;
  color:#fff;
  
}

/*
  tattoo gallery scroller
  ------------------------------------------------------------ */
.gallery-scroller {
  margin:10px 0;
  ackground:#111; /* blue : ddffff , border: 99ffff*/
  order:1px solid #111;
  ext-align:center;
}
div.scrollable{
  margin:auto;
  width:400px;
  height:90px;
  overflow:auto;
}
div.scroll-up{
  width:80px;
  height:80px;
  background:green;
  float:left;
}
div.scroll-down{
  width:80px;
  height:80px;
  background:green;
  float:right;
}

  .gallery-scroller img {
    display:inline-block;
    width:75px; height:75px;
    margin:5px 5px 5px 0;
    background:#fff;
    border:1px solid #fff;
  }
  .gallery-scroller a:hover img,
  .gallery-scroller a.active img {
    border:1px solid orange;
  }
  

/*
  (global) Main image gallery view that tattoos get loaded into.
  ------------------------------------------------------------ */
.gallery-full {
  overflow:hidden;
  min-height:300px;
}
  .gallery-full div.gallery-contents {
    overflow:hidden;
  }
    .gallery-full div.gallery-body {
      width:250px;
      position:absolute;
      background:#222;
      color:#fff;;
      -webkit-box-shadow:1px 1px 2px #333;
      -moz-box-shadow:1px 1px 2px #333;
    }
    .gallery-full div.gallery-body h2 {
      color:#fff;
    }
  .gallery-full div.gallery-images {
    margin:auto;
    text-align:center;
  }
  .gallery-full div.gallery-images img {
    border:1px solid #111;
  } 
  .gallery-full a {color:lightblue;}
  .gallery-full a:hover {color:orange;}
  
  a.toggle-details.show {
    display:block;
    position:absolute;
    padding:1px 12px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    background:#111;
    -webkit-border-radius:8px;
    -webkit-opacity:0.7;
    -moz-border-radius:8px;
    -moz-opacity:0.7;
  }
  a.toggle-details.show:hover {
    -webkit-opacity:1;
    -moz-opacity:1;
    background:green;
  }
  a.toggle-details.hide{
    float:right;
    padding:5px;
    font-weight:bold;
    font-size:14px;
    color:#fff;
    text-decoration:none;
    position:relative;
    top:-5px;
  }
  a.toggle-details.hide:hover{
    float:right;
    color:red;
  }
span#assets {display:block; padding:3px; overflow:hidden; text-align:left;}
span#assets img {display:inline-block; width:40px; height:40px; margin:2px; border:1px solid #fff;}
span#assets img:hover { border:1px solid orange !important; cursor:cursor; cursor:pointer;}


         
  /* javascript shop profile  injected html formatting 
    ------------------------------------------------------------ */
  .s-js-contents .gallery-body {
    border:3px solid #222;
    -webkit-opacity:0.95;
    -moz-opacity:0.95;
  }  
  .s-js-details {
    padding:10px; background:#222;
    color:#fff;
  }
  .s-js-details h2 {color:#fff }
  .s-js-contents .gallery-images img {

  }
    
  /* javascript artist profile injected html formatting 
   ------------------------------------------------------------ */
  .a-js-contents .gallery-body {
    border:1px solid #111;
  }  
  .a-js-details {
    padding:10px; 
  }
  .a-js-details img {
    height:90px; width:90px; float:right; margin-left:7px;
  }
  .a-js-contents .gallery-images img {
    border:2px solid #111;
  }  
  
    
  /* javascript tattoo profile injected html formatting 
    ------------------------------------------------------------ */
  .t-js-contents .gallery-body {
    background:#fff;
    -webkit-opacity:1;
    -moz-opacity:1;
    border:1px solid #111;
  }
  .t-js-contents a.toggle-details.hide {color:#111;}
  .t-js-contents a.toggle-details.hide:hover {color:red;}
  .t-js-details {
    padding:10px;
    background:#fff;
    color:#111;
  }
  .t-js-details h2 {
    color:#111 !important;
  }
  .t-js-artist-details {
    margin-top:10px;
    padding:10px;
    color:#fff;
  }
  .t-js-artist-details img {
    height:90px; width:90px; float:right; margin-left:7px;
  }
  

/* artist stuff
  ------------------------------------------------------------ */
.artist-wrap {
  padding:10px;
  margin:10px; 
  border:1px dashed #333;
}
.artist-each {
  padding:10px;
  margin:10px;
  background:#ffffcc;
}
#tab-artists .artist-each {
  width:45%;
  float:left; 
  overflow:hidden;
  background:#222;
  border:1px solid #111;
  color:#fff; 
}
#tab-artists .artist-each h2 {
  color:#fff;
}
#tab-artists .artist-each  a {color:lightblue;}
#tab-artists .artist-each  a:hover {color:orange;}

#tab-artists .artist-each img {
  float:right; margin-left:10px; 
  width:75px; height:75px;
  border:1px solid #fff;
  
}

.artist-show .artist-each {
  margin:auto;
  width:90%; 
  overflow:hidden;
  background:#ddffff;
  border:1px solid #99ffff;  
}
.artist-show .artist-each img {
  float:right; padding:10px; margin-left:10px; 
  background:#fff;
  border:1px solid #ccc;
}



/* tattoo stuff
   tattoos get loaded into Main this image gallery view
  ------------------------------------------------------------ */
.tattoo-main {
  width:50%; float:left;
  adding:10px; order-right:1px dashed green;
}
  .tattoo-main h2{
    padding-bottom:2px;
    margin-bottom:10px;
    border-bottom:1px solid #777;
  }
  .tattoo-main img {
    display:block;
    padding:5px;
    border:1px solid #ccc;
    margin:5px auto;
  }
.tattoo-artist {
  width:45%; float:right;
  adding:10px; order-right:1px dashed green;
  
}

/* ajax */
.loading{
  width:200px;
  margin:auto; margin-top:30px;
  padding-top:20px;
  text-align:center;
  color:#222;
  background:url('http://tastyink.com/images/loading.gif') no-repeat top center;
}
.loading.white{color:#fff}


