
<div id="slide-wrapper" class="one_of_one">

  <div class="slide"> 
    <div class="paragraph">
      <h3 style="text-align:center">
        Build A Slick Online Tattoo Portfolio.
        Market Your Work to the World.
      </h3>
      
      Tastyink builds a portfolio to help market your services across the internet.
      
      Simply upload and organize pictures and info of your shop, its artists,
      and their tattoos. 
      <br/>
      Then share and embed your portfolio on:
      <ul style="list-style:disc; margin:10px 0 20px 20px;">
        <li>Your Shop's Website.</li>
        <li>Facebook profiles and fan pages.</li>
        <li>Myspace.</li>
        <li>Blogs.</li>
        <li>Dedicated tastyink.com profile.</li>
      </ul>
        
      <p class="nextachu">
        <a href="/account/new">View Pricing &amp; Signup</a> || 
        <a href="/shops/1">See Portfolio in Action.</a>
      </p>
    </div>
    <img src="/images/shop.png" class="main" alt="" />
  </div> 
  
  <div class="slide">
    <div class="paragraph">            
      <h3>Build A Great Reputation.</h3>
      <p>
        Let your work speak for itself with a professionally designed and interactive online portfolio. 
      </p>
      <p>
        Assure new clients and alleviate concerns
        by showcasing past work and positive past-client experiences.
      </p>
      
        <a href="#" class="next jFlowNext">Interact With Your Clients</a>
                  
    </div>
    <div class="image">&#160;</div>
  </div>
     
  <div class="slide">
    <div class="paragraph">            
      <h3>Interact With Your Clients.</h3>
      <p>
      Use the shareable and interactive nature of your portfolio
      to better connect with current and potential clients.
      
      Clients can easily add testimonials and share
      their tattoos on social websites like facebook. 
      </p>
      <p>
        Use these points of contact to send out promotions
        and loyalty incentives to both reward and grow your client base.
      </p>
      
        <a href="#" class="next jFlowNext">Make More Money.</a>
   
    </div>
    <div class="image">&#160;</div>
  </div>
  
  <div class="slide">
    <div class="paragraph">            
      <h3>Make More Money.</h3>
      <p>
      Your portfolio gives you the tools and content you need               
      to effectively participate in your client's conversations 
      happening across many different websites.
      </p>
      <p>
      This is a much more effective and authentic means
      of marketing than simply buying ads or running a static website.
      <p>
      Let us help you increase your exposure online <em>without</em>
      wasting money on ads so you can get more work and make more money!
      
    </div>
    <div class="image">&#160;</div>
  </div>
  
</div>
  
<div id="slider_navi" class="one_of_one">
  <ul class="slide-buttons">
    <li><a href="#intro" class="jFlowControl"></a></li>
    <li><a href="#manage" class="jFlowControl"></a></li>
    <li><a href="#connect" class="jFlowControl"></a></li>
    <li><a href="#create" class="jFlowControl"></a></li>
  </ul>        
</div>

<h1 class="learn-more">Learn More</h1>

<div class="next-copy">
           
  <h1>Creating Your Portfolio is A Snap.</h1>
  <div>
    <ul>
      <li>Quickly upload images of your work one at a time or in batches.</li>
      <li>Add dates, tags and notes to each tattoo piece.</li>
      <li>Organize, categorize, and display your work in a variety of ways.</li>
    </ul>
  </div>

  <h1>Managing Your Portfolio(s) is Painless.</h1>
  <div>
    <ul>
      <li>
        Shop owners can manage individual artist portfolios that integrate back
        into the parent shop profile.
      </li>
      <li>
        Allow your clients to submit their own photos and/or write 
        testimonials for your work. You maintain full control over what gets
        displayed.
      </li>
      <li>
        Enable and disable pieces without deleting anything.
        Change layouts, themes, colors, and interactions easily.
      </li>
    </ul>
  </div>

  <h1>Your Portfolio Goes Everywhere.</h1>
  <div>
    <ul>
      <li>
        Tastyink portfolios are meant to be shared and updated frequently.
        We provide short codes and easy integration points that allow you
        to embed your portfolio in most major websites and web services so
        you'll always have fresh content in front of your clients.
      </li>
      
      <li>
        You also have full access to your portfolio on tastyink.com
      </li>
    </ul>
  </div>
  
</div>

