
<% form_for @asset, {:url => '/assets' , :html => { :multipart => true } } do |f| %>
  <%= f.error_messages %>

  <div class="right-half">
    <fieldset>
      <%= f.label :data, "Upload Images" %><br />
      <%= f.file_field :data %>
    </fieldset>
  </div>
 
    <fieldset>
      <%= f.submit "Save" %>
    </fieldset>
  </div> 
  
<% end %>
<br style="clear:both"/>


