<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Tastyink Online portfolio service for tattoo shops and artists.</title>
  <%= stylesheet_link_tag "global" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery.flow.1.2.js" %>

  <script type="text/javascript">
    $(document).ready(function() {
      //Cufon.replace('h2, a.next', { fontFamily: 'chunkfive' });
      
      $("ul.slide-buttons").jFlow({  
          slides: "#slide-wrapper",
          width: "880px",
          height: "380px",
          duration: 400  
      });
      
	    $(".port_item a").fancybox({
		    'transitionIn'	:	'elastic',
		    'transitionOut'	:	'fade',
		    'speedIn'		:	600, 
		    'speedOut'		:	200,
		    'centerOnScroll':	'true',
		    'overlayColor'	:	'000',
		    'overlayOpacity':	.6,
		    'titlePosition'	:	'inside'	
	    });
	
   });
  </script>    
</head>
<body>


  <div id="wrapper">
    <div id="navigation">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Pricing & Signup</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div> 
      
  	<div id="header">
    	<h1 style="font-weight:bold">
        Tastyink Helps Tattoo Artists Use Social Media To Get More Clients.
    	</h1>
    </div>

    <div id="top-container">
      <%= yield :top_msg %>
    </div>  
        
    <div id="content_out">
      <div id="content"> 
        <%= yield %>
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
    
  </div> 
</body>
</html>
